<tr>
<div id="calendar_listing">
	<% if params[:controller] == 'advisors' %>
		<td>
			<%= link_to calendar.c_title, advisor_calendar_path(params[:id], calendar.id) %>
		</td>

		<td>
			<span class="hidden right"><%=calendar.start_date %></span>
			<%= calendar.date_range %>
		</td>
		<% if can? :edit, calendar %>
			<td>
				<%= link_to "Edit Calendar Information", edit_advisor_calendar_path(calendar.advisor.id, calendar.id) %>
			</td>
		<% end %>

	<% else %>
		<td>
			<%= link_to calendar.c_title, user_calendar_path(params[:id], calendar.id) %>
		</td>
		<td>
			<span class="hidden right"><%=calendar.start_date %></span>
			<%= calendar.date_range %>
		</td>
		<% if can? :edit, RegistrationAbility.where(:calendar_id => calendar.id, :user_id => params[:id]) %>
			<td>
				<%= link_to "Edit Student Registration Ability", advisor_calendar_registration_abilities_path(calendar.advisor, calendar.id) %>
			</td>
		<% end %>
	<% end %>		

</div>
</tr>
